<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>盛香亭 每日报表计算生成应用</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <script defer src="/js/dingding.js"></script>
    <style>
      :root {
        --animate-duration: 800ms;
      }

      html, body {
        font-family: "Microsoft YaHei";
        background-color: #f5f5f5;
      }

      .container {
        max-width: 680px;
        width: auto;
      }

      .columns {
          margin-left: 0rem;
          margin-right: 0rem;
          margin-top: 0rem;
      }

      .column {
        padding: 0;
        margin-top: 0.5rem;
      }
    </style>
  </head>

  <body>
    <section class="section">
    <div class="container is-max-desktop">

      <h4 class="title is-4">钉钉报表 自动生成工具</h4>
      <div class="block">
        作为主应用的一个扩展，本工具可以自动<strong class="has-text-info">基于前面的数据</strong>生成钉钉报表。
      </div>


      <% if (hasMonthlyData) { %>
        <div id="monthly" class="block" hidden>
      <div% } else { %>
        <div id="monthly" class="block">
      <% } %>

        <div class="panel is-primary">
          <div class="panel-heading">月度钉钉数据</div>

          <div class="panel-block">
            此处需要填写钉钉本月的所需数据。此内容每月只需填写一次。
          </div>

          <div class="panel-block">
            <form class="control">
              <div class="field">
                <label class="label">第一档业绩目标</label>
                <div class="control has-icons-left">
                  <input class="input sales-levels" id="level1" type="number" step="1" placeholder="第一档业绩目标" required />
                  <span class="icon is-small is-left">
                    <i class="fas fa-yen-sign"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">第二档业绩目标</label>
                <div class="control has-icons-left">
                  <input class="input sales-levels" id="level2" type="number" step="1" placeholder="第二档业绩目标" required />
                  <span class="icon is-small is-left">
                    <i class="fas fa-yen-sign"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">第三档业绩目标</label>
                <div class="control has-icons-left">
                  <input class="input sales-levels" id="level3" type="number" step="1" placeholder="第三档业绩目标" required />
                  <span class="icon is-small is-left">
                    <i class="fas fa-yen-sign"></i>
                  </span>
                </div>
              </div>

              <button type="submit" class="button is-primary" id="request">提交</button>
            </form>
          </div>
        </div>

      </div>

      <div id="daily" class="columns">
        <form method="POST" class="control">
          <div class="block">
          <div class="field">
            <label class="label">今日营业目标</label>
            <div class="control has-icons-left">
              <input class="input sales-targets" id="targetToday" type="number" step="1" placeholder="今日营业目标" required />
              <span class="icon is-small is-left">
                <i class="fas fa-yen-sign"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">明日营业目标</label>
            <div class="control has-icons-left">
              <input class="input sales-targets" id="targetTomorrow" type="number" step="1" placeholder="明日营业目标" required />
              <span class="icon is-small is-left">
                <i class="fas fa-yen-sign"></i>
              </span>
            </div>
          </div>
          </div>

          <button type="submit" class="button is-info">生成</button>
        </form>
      </div>

      <div id="result-area" class="block" style="display: none;">
        <p>已生成钉钉报表。记得<strong class="has-text-info">加上总结</strong>。</p>
        <p>支持手动复制，或点击<strong class="has-text-primary">复制</strong>按钮。</p>
        <br>
        <p>如果不小心删除了内容，再次点击<strong class="has-text-info">生成</strong>即可。</p>

        <div class="columns">
          <div class="column is-two-thirds">
            <textarea class="textarea is-success has-fixed-size" rows="18"></textarea>
          </div>
        </div>

        <button type="button" class="button is-primary" id="copy">复制</button>
      </div>

    </div>
    </section>
  </body>
</html>